:root {
    --body-background : #1A1A1A;
    --gray-1 : #343434;
    --gray-2 : #242424;
    --light-color: white;

    --command-border: 1px solid rgb(200, 200, 200);

    --dot-artist-background : rgb(115, 181, 115);
    --dark0-filter : brightness(1);
    --dark1-filter : brightness(0.8);
    --dark2-filter : brightness(0.6);
    --dark3-filter : brightness(0.3);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
}

body {
    background-color: var(--body-background);
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.container {
    display: flex;
    width: 100%;
}

.left-side {
    width: 1134px;
    margin: 20px;
}

.script-area-wrapper {
    width: 1094px;
    height: 824px;
    background-color: var(--gray-1);
    border: var(--command-border);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar */
.script-area-wrapper::-webkit-scrollbar {
    width: 16px;
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Track */

.script-area-wrapper::-webkit-scrollbar-track {
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Handle */

.script-area-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border: var(--command-border);
}

.option-bar {
    width: 1094px;
    height: 40px;
    display: flex;
    /* put items on the left side */
    justify-content: flex-start;
    align-items: center;
    /* space between items */
    background-color: var(--gray-2);
}

.option-bar > * {
    padding-left: 16px;
  }

.plus-icon {
    width: 24px;
    height: 24px;
    fill: var(--light-color);
}

.script {
    display: flex;
    margin-bottom: 20px;
}

.selected {
    border: 1px solid rgb(var(--main-color));
    filter: brightness(1.2);
}
  
.script-group {
    width: 40px;
    height: inherit;
    background-color: rgb(var(--main-color));
    border: var(--command-border);
}

.script-info {
    width: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.script-title {
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(var(--main-color),0.2);
    border-top: var(--command-border);
}

.script-language {
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border:None;
}

.script-language::placeholder {
    color: var(--light-color);
}

.script-language:focus, .script-language:active {
    border: transparent;
    outline: none;
    text-shadow: none;
}


.title-text {
    width: 400px;
    color: var(--light-color);
    background-color: transparent;
    border:None;
    padding: 4px;
}

.title-text::placeholder {
    color: var(--light-color);
}

  
/* .script-commands {

} */

.command {
    width: 100%;
    border-top: var(--command-border);
}

.command-output, .command-input {
    height: 36px;
    width: 100%;
    background-color: rgba(var(--main-color),0.2);
    /* flex */
    display: flex;
}  

.command-input > * {
    margin-top: 4px;
    margin-left: 10px;
}

.command-input > * > input {
    width: 150px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border:None;
    padding: 4px;
}

.command-input > * > input::placeholder {
    color: var(--light-color);
}

input:focus, input:active {
    border: transparent;
    outline: none;
    text-shadow: none;
}

.command-create {
    height: 36px;
    width: 100%;
    background-color: rgba(var(--main-color), 0.1);
    border-top: var(--command-border);
    border-bottom: var(--command-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.command-create > .button {
    fill: var(--light-color);
}

/* Right side */

.right-side {
    width: 600px;
}

.variable-container {
    width: 100%;
    background-color: var(--gray-1);
    border: var(--command-border);
    color: var(--light-color);
    padding-bottom: 1px;
    margin: 20px 0 20px 0;
}

.variable-wrapper-title {
    height: 36px;
    background-color: var(--gray-2);
    border: var(--command-border);
    display: flex;
    align-items: center;
}

.variable-wrapper-title > h4 {
    margin:0;
    margin-left: 16px;
}

.variable-wrapper {
    height:265px;
    overflow-y: auto;
    overflow-x: hidden;
}

.variable-wrapper::-webkit-scrollbar {
    width: 16px;
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Track */

.variable-wrapper::-webkit-scrollbar-track {
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Handle */

.variable-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border: var(--command-border);
}

.variable-title {
    height: 28px;
    background-color: var(--gray-1);
    border-top: var(--command-border);
    border-bottom: var(--command-border);
    display: flex;
    align-items: center;
}

.variable-title > h4 {
    /* remove bold */
    font-weight: normal;
    margin:0;
    margin-left: 16px;
}

.create-variable {
    width: 18px;
    margin-right: 16px;
    margin-left: auto;
}

.variable {
    height: 36px;
    border-bottom: var(--command-border);
    display: flex;
    align-items: center;
}

.variable > div > input {
    margin-left: 16px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.3);
    border:None;
    padding: 4px;
}

.variable > div > input::placeholder {
    color: var(--light-color);
}




.dot-artist-application {
    /* Styles for dot-artist-application */
    width: 100%;
    height: 500px;
    background-color: var(--dot-artist-background);
}

.dot-artist-application .pixel.dark0 {
    background-color: var(--dark0-filter);
}

.dot-artist-application .pixel.dark1 {
    background-color: var(--dark1-filter);
}

.dot-artist-application .pixel.dark2 {
    background-color: var(--dark2-filter);
}

.dot-artist-application .pixel.dark3 {
    background-color: var(--dark3-filter);
}


.options {
/* Styles for options */
}
