:root {
    --body-background : #1A1A1A;
    --gray-1 : #343434;
    --gray-2 : #242424;
    --light-color: white;

    --command-border: 1px solid rgb(200, 200, 200);
    --dot-artist-border : 1px solid rgb(200, 200, 200);
    --dot-artist-background : rgb(115, 181, 115);
    --dot-artist-bit-0 : rgba(0, 0, 0, 0);
    --dot-artist-bit-1 : rgba(0, 0, 0, 0.3);
    --dot-artist-bit-2 : rgba(0, 0, 0, 0.6);
    --dot-artist-bit-3 : rgba(0, 0, 0, 0.85);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
}

body {
    background-color: var(--body-background);
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.container {
    display: flex;
    width: 100%;
}

.left-side {
    width: 1134px;
    margin: 20px;
}

.script-area-wrapper {
    width: 1094px;
    height: 824px;
    background-color: var(--gray-1);
    border: var(--command-border);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar */
.script-area-wrapper::-webkit-scrollbar {
    width: 16px;
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Track */

.script-area-wrapper::-webkit-scrollbar-track {
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Handle */

.script-area-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border: var(--command-border);
}

.option-bar {
    width: 1094px;
    height: 40px;
    display: flex;
    /* put items on the left side */
    justify-content: flex-start;
    align-items: center;
    /* space between items */
    background-color: var(--gray-2);
}

.option-bar > * {
    padding-left: 16px;
  }

.plus-icon {
    width: 24px;
    height: 24px;
    fill: var(--light-color);
}

.script {
    display: flex;
    margin-bottom: 20px;
}

.selected {
    border: 1px solid rgb(var(--main-color));
    filter: brightness(1.2);
}

.script-group {
    width: 40px;
    padding: 0px;
    height: inherit;
    background-color: rgb(var(--main-color));
    appearance: none;
    -webkit-appearance: none;
    border: transparent;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;

}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.script-info {
    width: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--main-color));
}

.script-title {
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(40,40,40,0.8);
    border-top: var(--command-border);
}

.title-text {
    font-size: 16px;
    font-weight: 500;
}

.search-wrapper {
    display:flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.import, .export, .search-script {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: rgb(var(--main-color));
    display:flex;
    justify-content: center;
    align-items: center;
    fill: var(--light-color);
}

.script-language {
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border:None;
}

.script-language::placeholder {
    color: var(--light-color);
}

.search-input::placeholder {
    color: var(--light-color);
}

.search-input {
    width: 200px;
    height: 16px;
    margin-left: auto;
    margin-right: 10px;
    color: var(--light-color);
    background-color: transparent;
    border:None;
}

.script-language:focus, .script-language:active, .search-input:focus, .search-input:active {
    border: transparent;
    outline: none;
    text-shadow: none;
}

.title-text {
    width: 400px;
    color: var(--light-color);
    background-color: transparent;
    border:None;
    padding: 4px;
}

.title-text::placeholder {
    color: var(--light-color);
}

  
.script-delete, .command-delete, .raw-bytes-delete {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: rgb(var(--main-color));
    display:flex;
    justify-content: center;
    align-items: center;
}

.command, .raw-bytes {
    width: 100%;
    border-top: var(--command-border);
    position: relative;
}

.command-delete, .raw-bytes-delete{
    position: absolute;
    top: 4px;
    right: 0;
}

.command-output, .command-input, .raw-bytes{
    height: 36px;
    width: 100%;
    background-color: rgba(40,40,40,0.8);
    /* flex */
    display: flex;
}  

.command-input > * , .raw-bytes-container > *{
    margin-top: 4px;
    margin-left: 10px;
}

.command-input > * > input, .raw-bytes-container > input{
    width: 150px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border:None;
    padding: 4px;
}

.command-input > * > input::placeholder, .raw-bytes-container >  input::placeholder {
    color: var(--light-color);
}

input:focus, input:active {
    border: transparent;
    outline: none;
    text-shadow: none;
}

.command-create-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.command-create, .raw-bytes-create {
    height: 36px;
    width: 100%;
    background-color: rgba(30,30,30,0.95);
    border-top: var(--command-border);
    border-bottom: var(--command-border);
    border-right: var(--command-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.command-add, .raw-bytes-add {
    width: 24px;
    height: 24px;
    fill: rgb(var(--main-color));
}

.command-add-text, .raw-bytes-add-text {
    color: rgb(var(--main-color));
    filter:brightness(1.3);
    margin-left: 12px;
}

/* Right side */

.right-side {
    width: 600px;
}

.variable-container {
    width: 100%;
    background-color: var(--gray-1);
    border: var(--command-border);
    color: var(--light-color);
    padding-bottom: 1px;
    margin: 20px 0 20px 0;
}

.variable-wrapper-title {
    height: 36px;
    background-color: var(--gray-2);
    border: var(--command-border);
    display: flex;
    align-items: center;
}

.variable-wrapper-title > h4 {
    margin:0;
    margin-left: 16px;
}

.variable-wrapper {
    height:265px;
    overflow-y: auto;
    overflow-x: hidden;
}

.variable-wrapper::-webkit-scrollbar {
    width: 16px;
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Track */

.variable-wrapper::-webkit-scrollbar-track {
    background-color: var(--gray-2);
    border: var(--command-border);
}

/* Scrollbar Handle */

.variable-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border: var(--command-border);
}

.variable-title {
    height: 28px;
    background-color: var(--gray-1);
    border-top: var(--command-border);
    border-bottom: var(--command-border);
    display: flex;
    align-items: center;
}

.variable-title > h4 {
    /* remove bold */
    font-weight: normal;
    margin:0;
    margin-left: 16px;
}

.create-variable {
    margin-left: auto;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    fill: var(--light-color);
    display:flex;
    justify-content: center;
    align-items: center;
}

.variable {
    height: 36px;
    border-bottom: var(--command-border);
    display: flex;
    align-items: center;
}

.variable > div > input {
    margin-left: 16px;
    color: var(--light-color);
    background-color: rgba(0,0,0,0.3);
    border:None;
    padding: 4px;
}

.variable > div > input::placeholder {
    color: var(--light-color);
}

/* Dot Artist */

.dot-artist-application {
    /* Styles for dot-artist-application */
    width: 100%;
    height: 500px;
    border: var(--dot-artist-border);
    background-color: var(--dot-artist-background);
}

.dot-artist-application .canvas {
    /* Styles for canvas */
    width: 100%;
    height: 100%;
    /* flex */
    display: flex;
    flex-direction: column;
}

.dot-artist-application .canvas .row {
    /* Styles for pixel */
    width: 100%;
    height: 100%;
    /* flex */
    display: flex;
}

.dot-artist-application .canvas .row .pixel {
    /* Styles for pixel */
    width: 100%;
    height: 100%;
    border: var(--dot-artist-border);
}

.dot-artist-application .canvas .row .bit-0{
    /* Styles for pixel */
    background-color: var(--dot-artist-bit-0);
}

.dot-artist-application .canvas .row .bit-1{
    /* Styles for pixel */
    background-color: var(--dot-artist-bit-1);
}

.dot-artist-application .canvas .row .bit-2{
    /* Styles for pixel */
    background-color: var(--dot-artist-bit-2);
}

.dot-artist-application .canvas .row .bit-3{
    /* Styles for pixel */
    background-color: var(--dot-artist-bit-3);
}

.options {
/* Styles for options */
}
