[submodule "src/libs/DOMPurify"]
	path = src/libs/DOMPurify
	url = git@github.com:DevreeseJorik/DOMPurify.git
[submodule "src/libs/marked"]
	path = src/libs/marked
	url = git@github.com:DevreeseJorik/marked.git
