.left-panel-content {
    width: var(--left-panel-width);
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: var(--bg-dark-3);
}

script-group-manager {
    height: inherit;

    & script-group-list-wrapper {
        background-color: var(--bg-dark-1);
        display: flex;
        padding: 0;
        margin: 0;
        height:24px;

        & script-group-list {
            display: flex;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            & script-group {
                & input {
                    padding: 0;
                    margin-left: 8px;
                }

                & script-file-selector {
                    background-color: #202020;
                    display:flex;
                    align-items: center;
                    & img {
                        width: 16px;
                        background-color: transparent;
                    }
                }

                & script-file-selector.selected {
                    background-color: var(--bg-dark-3);
                }
            }
        }

        & script-group-list::-webkit-scrollbar {
            display: none;
        }

        & img {
            width: 24px;
            background-color: #202020;
            padding: 4px;
        }
    }

    & script-group-area {
        display:block;
        height: calc(100% - 24px);

        & div {
            height: 100%;
            & script-group-toolbar {
                display: flex;
                height: 32px;
                align-items: center;

                & script-create {
                    display: flex;
                    margin-left: 8px;
                    align-items: center;
                    gap: 8px;

                    & img {
                        width: 16px;
                    }

                    & h5 {
                        margin:0;
                        padding:0;
                        height:18px;
                        font-weight: 200;
                    }
                }

                & img:first-of-type {
                    margin-left: auto;
                }

                & img {
                    width: 24px;
                }
            }

            & script-list {
                display: block;
                height: calc(100% - 32px);
                overflow-y: auto;
                & custom-script {
                    display: flex;
                    margin-bottom: 20px;
            
                    & script-color-swatch {
                        width: var(--color-swatch-width);
                        height: inherit;
            
                        & input {
                            all: unset;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            -webkit-appearance: none;
                            appearance: none;
                            border: transparent;
                            outline: none;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                    }
            
                    & script-option-list {
                        width: 100%;
            
                        & script-toolbar {
                            display:flex;
                            width: 100%;
                            height: 24px;
                            background-color: var(--bg-dark-2);
            
                            & input {
                                margin-left:12px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                width: 100%;
            
                                & .title-text {
                                    margin-left: 16px;
                                    width: 100%;
                                }
                            }
                        }
            
                        & div {
                            height: unset;
                            display: flex;
                            flex-direction: column;
                            background-color: var(--bg-dark-2);
            
                            & div {
                                background-color: transparent;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                height: 32px;
                                margin-left:12px;
            
                                & img {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 6px;
                                    fill: var(--icon-color);
                                }
                            }
            
                            & div.hidden {
                                display: none;
                            }
            
                            & div.content {
                                margin: 0;
                                background-color: rgba(0, 0, 0, 0.5);
                            }
            
                            & documentation-option {
                                background-color: rgba(0, 172, 255, 0.6);
            
                                & div.content {
                                    display: flex;
                                    flex-direction: column;
                                    height: 100%;
                                    width: 100%;
            
                                    & auto-grow-textarea {
                                        width: 100%;
                                        height: 100%;
            
                                        & textarea {
                                            all: unset;
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                            margin: 0;
                                            padding: 4px 10px;
                                            box-sizing: border-box;
                                            resize: none;
                                            overflow: auto;
                                            overflow-x: hidden;
                                        }
                                    }
            
                                    & .preview {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        margin: 0;
                                        padding: 10px;
                                        box-sizing: border-box;
                                        max-height: 400px;
                                        overflow: auto;
                                        overflow-x: hidden;
            
                                        & img {
                                            width: unset;
                                            height: unset;
                                        }
                                    }
            
                                    & .preview::-webkit-scrollbar {
                                        width: 6px;
                                        background-color: transparent;
                                    }
            
                                    & .preview::-webkit-scrollbar-track {
                                        background-color: transparent;
                                    }
            
                                    & .preview::-webkit-scrollbar-thumb {
                                        background-color: var(--light-1);
                                        border-radius: 4px;
                                    }
            
                                    & .hidden {
                                        display: none;
                                    }
            
                                    &.hidden {
                                        display: none;
                                    }
                                }
            
                            }
            
                            & variables-option {
                                background-color: rgba(255, 220, 80, 0.7);
            
                                & div.content {
                                    display: flex;
                                    flex-direction: column;
                                    height: 100%;
            
                                    & variable-group {
                                        width: 100%;
            
                                        & variable-element {
                                            display: flex;
                                            flex-direction: column;
                                            padding-left: 8px;
            
                                            & variable-header {
                                                display: flex;
                                                align-items: center;
                                                height: 32px;
            
                                                & input {
                                                    background-color: var(--bg-dark-2);
                                                }
            
                                                & h5 {
                                                    font-weight: 200;
                                                    margin: 0;
                                                    padding: 0;
                                                    color: rgba(255, 255, 255, 0.8);
                                                }
            
                                                & img {
                                                    width: 16px;
                                                    margin-right: 8px;
            
                                                    &.dropdown {
                                                        transform: rotate(180deg);
                                                    }
                                                }
            
                                            }
            
                                            & variable-editor {
                                                display: flex;
                                                flex-direction: column;
            
                                                & input-element {
                                                    margin-bottom: 4px;
                                                }
            
                                                & input {
                                                    background-color: var(--bg-dark-2);
                                                }
            
                                                & variable-option {
                                                    display:flex;
                                                    align-items: center;
            
                                                    h5 {
                                                        font-weight: 200;
                                                        margin: 0;
                                                        padding: 0;
                                                        width: 64px;
                                                    }
                                                }
                                            }
            
                                            & .hidden {
                                                display: none;
                                            }
                                        }
                                    }
                                }
            
                                & div.content.hidden {
                                    display: none;
                                }
                            }
            
                            & code-option {
                                background-color: rgba(var(--main-color), 0.6);
                                & div.content {
                                    display:flex;
                                    flex-direction: column;
                                    padding-left: 8px;
                                    height: 100%;
            
                                    & code-group {
                                        width: 100%;
                                        & code-block {
                                            display: flex;
                                            height: 32px;
                                            align-items: center;
            
                                            & input {
                                                background-color: var(--bg-dark-2);
                                                padding-left: 8px;
                                                width: 140px;
                                            }
            
                                            & code-parameter {
                                                margin-left: 8px;
                                            }
                                        }
            
                                        & img {
                                            width: 16px;
                                            margin-right: 8px;
                                        }

                                        & memory-block {

                                            & memory-size-input {
                                                margin-left: 12px;
                                                width: 64px;
                                                background-color: var(--bg-dark-2);
                                                padding-left: 4px;
                                            }
                                            & div {
                                                display: grid;
                                                width: calc(100% - 12px);
                                                height: 100%;
                                                margin: 0;
                                                grid-template-columns: repeat(16, 1fr);
                                                grid-gap: 0px 12px;
                                                padding-bottom: 8px;

                                                & memory-byte-input {
                                                    width: 100%;
                                                    & input {
                                                        width: inherit;
                                                        background-color: var(--bg-dark-2);
                                                        padding-left: 4px;
                                                    }
                                                }
                                            }
                                        }
            
                                    }
            
                                    & code-create-block {
                                        display: flex;
                                        flex-direction: row;
                                        width: 100%;
                                        align-items: center;
            
                                        & div {
                                            display: flex;
                                            flex-direction: column;
                                            margin: 0;
            
                                            & code-create-option {
                                                display:flex;
                                                align-items: center;
                                                align-self: start;
                                                width: 165px;
                                                background-color: var(--bg-dark-2);
                                                padding-left: 4px;
                                                box-shadow: 20px 0 0 0 var(--bg-dark-2);
                                                & img {
                                                    width: 16px;
                                                }
                                            }
            
                                            & code-create-option.hidden {
                                                display: none;
                                            }
                                        }
                                    }
            
                                    & code-create-block.dropdown {
                                        & code-create-option.hidden {
                                            display: flex;
                                        }
                                    }
            
                                    & span {
                                        align-self: start;
                                    }
                                }
            
                                & div.content.hidden  {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.draggable {
    position: relative;
}

.draggable.drag-top::before,
.draggable.drag-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(145, 145, 193, 0.5); /* Half-transparent blue */
    pointer-events: none;
}

.draggable.drag-top::before {
    top: -50%;
    margin-bottom: 100%;
}

.draggable.drag-bottom::after {
    bottom: -50%;
    margin-top: 100%;
}

download-popup  {
    position: fixed;
    width: 800px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-dark-2);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    & h5 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 200;
    }

    & input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    & button {
        display: block;
        margin-top: 10px;
    }

    & game-selector-multi {
        & img {
            width: 24px;

            &.faded {
                opacity: 0.5;
            }
        }
    }
}

& *::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

& *::-webkit-scrollbar-track {
    background-color: transparent;
}

& *::-webkit-scrollbar-thumb {
    background-color: var(--light-1);
    border-radius: 4px;
}


.script-editor-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - var(--toolbar-height));
    position: relative;
}

.script-editor-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.script-editor-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.script-editor-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--light-1);
    border-radius: 4px;
}


.script {
    display: flex;
    margin-bottom: 20px;
}

.script:first-child {
    margin-top: 4px;
}

.script-toolbar .script-info {
    margin-right: 10px;
    fill: rgb(var(--main-color));
    cursor: pointer;
    margin-left: auto;
    float: right;
    fill: white;
}

.command, .raw-bytes, .memory-editor {
    background-color: rgba(40,40,40,0.8);
    border-bottom: 1px solid var(--bg-dark-3);
    position: relative;
}

.command, .raw-bytes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.command-input, .raw-bytes, .memory-editor {
    padding: 8px 16px;
}

.command-input:hover {
    overflow-x: auto;
}

.command-input::-webkit-scrollbar {
    height: 4px;
    background-color: transparent;
    top: 10px;
}

.command-input::-webkit-scrollbar-track {
    background-color: transparent;
}

.command-input::-webkit-scrollbar-thumb {
    background-color: var(--light-1);
    border-radius: 4px;
}

.command-input, .raw-bytes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.script-info {
    width: calc(100% - var(--color-swatch-width));
}

.script-delete, .command-delete, .raw-bytes-delete, .memory-editor-delete {
    margin-right: 10px;
    fill: rgb(var(--main-color));
    cursor: pointer;
}

.command-delete, .raw-bytes-delete, .memory-editor-delete{
    display: none;
    position: absolute;
    top: 4px;
    right: 0;
}

.script-delete {
    margin-left: auto;
    float: right;
    fill: white;
}

.command:hover .command-delete, .raw-bytes:hover .raw-bytes-delete, .memory-editor:hover .memory-editor-delete {
    display: block;
}

.command-input > * > input, .raw-bytes-container > input {
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border: None;
    padding: 4px;
}

.memory-editor > input, .memory-editor-bytes > input, .memory-size-input
{
    color: var(--light-color);
    background-color: rgba(0,0,0,0.5);
    border: None;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    width: 44px;
}

.memory-size-text {
    color: var(--light-color);
    margin-right: 4px;
    font-size: 14px;
    margin-right: 27px;
}

.no-show {
    display: none;
}

.command-create-wrapper {
    padding: 9px 16px 11px 16px;
    background-color: rgba(40,40,40,0.8);
    display: flex;
    position: relative;
}

.option-wrapper {
    position: absolute;
    height:24px;
}

.option-wrapper .dropdown-content {
    display: none;
    align-items: center;
    min-width: 166px;
    z-index: 1;
    padding: 2px 0 2px 4px;
    background-color: var(--bg-dark-2);
}
.option-wrapper .dropdown-content span {
    font-size: 14px;
    font-weight: 400;
}

.option-wrapper .dropdown-content svg {
    width: 14px;
    height: 14px;
    margin: 0 8px 0 2px;
}

.command-create-wrapper .dropdown-content.current-option {
    display: flex;
}

.command-create-wrapper.dropdown .option-wrapper .dropdown-content {
    display: flex;
}

.command-create-wrapper .dropdown-icon {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 150px;
    cursor: pointer;
    z-index: 2;
}