* {
    font-family: 'Courier', monospace;
}

body {
    background: #eeeeff;
}

.container {
    display: flex;
    justify-content: center;
}

.app div {
    width: 800px;
    display: flex;
    max-width: fit-content;
}

.app div *:first-child {
    padding-right: 20px;
}

.pokemonids {
    overflow:hidden;
}

.img {
    width:848px;
    height:345px;
}