* {
    font-family: 'Courier', monospace;
}

p, div {
    margin:2px;
    padding:0;
}

body {
    background: #eeeeff;
}

.container {
    display: flex;
    justify-content: center;
}

.app div {
    width: 800px;
    display: flex;
}

.app div *:first-child {
    padding-right: 10px;
}

.pokemon_wrapper {
    height:140px;
}

.pokemonids_wrapper{
    height:100px;
}

.pokemon,.pokemonids {
    width:630px;
}

.fieldname {
    width: 180px;
}

.img {
    width:848px;
    height:345px;
}

.submitbutton {
    margin-top:20px;
}