* {
    font-family: 'Courier', monospace;
    font-size: 18px;
    font-weight: 400;
}

body {
    background-color:#161318;
}

p, div {
    margin:0;
    padding:0;
}

.container {
    display: flex;
    justify-content: center;
}

.app {
    width:1220px;
    height:880px;
    background-image:url("../images/Pokedex.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.topscreen,.bottomscreen {
    margin:auto;
    width:424px;
    height:312px;
}

.topscreen {
    margin-top:48px;
}

.search_wrapper{
    height:52px;
}

.searchsetting {
    padding-top:12px;
    padding-left:20px;
    text-align: center;
    width:260px;
}

.pokesuggestions {
    width:424px;
    height:260px;
    overflow-y:auto;
}

.pokesuggestion {
    background-image: url("../images/summary.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:380px;
    height:102px;
    min-width: 188px;
    display:flex;
    margin: 6px 10px 0px 10px;
}

::-webkit-scrollbar {
    display: none;
}

.pokeimg {
    width:80px;
    height:80px;
    margin:auto 11px auto 11px;

}

.pokeid {
    margin:auto 10px auto 60px;
}

.pokename {
    margin:auto 0px;
}

.bottomscreen {
    margin-top:160px;
}

.bottomscreen div {
    margin-left:10px;
    display:flex;
}

.tile1_wrapper {
    padding-top:64px;
}

.tile2_wrapper {
    padding-top:28px;
}

.tilelabel {
    text-align: center;
    width:100px;
    padding-right:20px
}

select {
    width:280px;
    background:none;
    border: none;
}

.submitbutton {
    padding-top:36px;
    width:424px;
    background:none;
    border: none;
}

.aslrcount_wrapper {
    padding-top:38px;
}

.aslrcount_text {
    text-align: center;
    width:236px;
    padding-right:10px;
}

.aslrcount {
    text-align: center;
    width:60px;
}

.aslr_wrapper {
    padding-top:28px;
}

.aslr_text {
    text-align: center;
    width:108px;
    padding-right:10px;
}

.aslr {
    text-align: center;
    width: 188px;
}

